# data_gen/rules.toml

# LOGIC HELPERS
loc_types.hidden = "dowsingmachine_if_opt"
loc_types.uunown = "dowsingmachine_if_opt"

enc_types.surf = "surf"
enc_types.good_rod = "good_rod" # HGSS rods don't strictly need a Badge, just the item
enc_types.super_rod = "super_rod"
enc_types.old_rod = "old_rod"

# COMMON MACROS (Shortcuts for complex logic)
common.national_dex = "pokedex" # Logic for when National Dex is active
common.dowsingmachine_if_opt = "dowsingmachine if dowsing_machine_logic"
common.flash_if_opt = "flash if visibility_hm_logic"

# HM Logic (Item + Badge Requirement)
# These match the HGSS Badge order: 
# Zephyr(Rock Smash), Hive(Cut), Plain(Strength), Fog(Surf), Storm(Fly), Mineral, Glacier(Whirlpool), Rising(Waterfall)
# Note: Verify specific badge checks with  ROM data. 
common.cut_req = "hm01 & hive_badge" 
common.fly_req = "hm02 & storm_badge"
common.surf_req = "hm03 & surf_badge"
common.strength_req = "hm04 & plain_badge"
common.whirlpool_req = "hm05 & glacier_badge"
common.rock_smash_req = "hm06 & zephyr_badge"
common.waterfall_req = "hm07 & waterfall_badge"
common.rock_climb_req = "hm08 & earth_badge"

# NEW BARK TOWN
exits.new_bark_town_players_house_2f.new_bark_town_players_house_1f = "true"
exits.new_bark_town_players_house_1f.new_bark_town = "true"
exits.new_bark_town_elms_lab.new_bark_town = "true"

# Route 29 is connected to New Bark
exits.new_bark_town.route_29 = "true" 
exits.new_bark_town.route_27 = "surf_req" # Need Surf to go East to Kanto

# ROUTE 29
exits.route_29.new_bark_town = "true"
exits.route_29.cherrygrove_city = "true"
exits.route_29.route_46 = "true" # Can walk into the bottom of Route 46 freely

# CHERRYGROVE CITY
exits.cherrygrove_city.route_29 = "true"
exits.cherrygrove_city.route_30 = "true"
exits.cherrygrove_city.route_31 = "surf_req" # Shortcut via water

# ROUTE 30 (The Mr. Pokemon Split)
# Assume route_30_south is the Cherrygrove side, route_30_north is the Violet side
exits.route_30.violet_city = "true" # If cut tree is removed or logic allows

# NEW BARK TOWN
locs.new_bark_town_elms_lab_master_ball = "true" # Free gift
locs.new_bark_town_neighbor_house_map = "true"

# CHERRYGROVE CITY
locs.cherrygrove_city_mystic_water = "surf_req" # Need surf to reach the guy on the island?

# VIOLET CITY
locs.violet_city_earl_academy_item = "true"

Sudowoodo blocking Route 36
events.event_sudowoodo_cleared = "squirtbottle"

#  the event open a path
exits.route_36.route_37 = "event_sudowoodo_cleared"

exits.route_45.route_46 = "true" # Jumping down is free
exits.route_46.route_29 = "true" # Walking out is free
# Do NOT put exits.route_29.route_46 unless there is a path (like through Dark Cave)